.body, *{
	margin: 10;
	padding: 10;
	box-sizing: border-box;
}
html, body{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	line-height: normal;
	color: #474747;
	background-image: url("plain.jpg");
	background-attachment: fixed;
	background-size: auto;
	/*background-size: 1920px 1080px;*/
}
.fixed-width{
	width: 1000px;
	margin: 0 auto;
}
.fixed-width > nav > ul > li{
	list-style-type: none;
}
a{
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}
.fixed-width nav{
	float: right;
	text-transform: uppercase;
}
.fixed-width nav ul li{
	color: #000000;
	float: left;
	margin-right: 1.5rem;
	padding-top: 1rem;
}
.fixed-width nav ul li: last-child{
	margin-right: 0;
}
.fixed-width nav ul li b{
	color: #474747;
	display: block;
	font-size: 1rem;
	font-style: normal;
}
.features > li > b{
  color: #474747;
  font-size: 16px;
  line-height: 2;
}
.table{
  font-size: 1rem;
  line-height: 1.5;
}
.page-header > div{
	position: relative;
}
#logo{
	font-family: 'Festive', cursive;
	font-size: 4rem;
	position: absolute;
	bottom: 3;
}
.page-header{
	border-top: 5px solid #ebebeb;
	padding-bottom: 2em;
	background-color: #f8f1fc;
}
.page-footer{
	background-color: #69b3d1;
	font-size: 1rem;
	height: 70px;
	color: #111111;
}
.page-footer .copyright{
	float: left;

}
.page-footer .credits{
	float: right;
}
.page-footer .fixed-width{
	padding-top: 1.5rem;
  margin-left: 400px;
}
h1,h2,h3,h4,h5,h6, .title{
	font-family: "Economica", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.main-visual .fig-caption{
	background-color: #f6f6f6;
	padding: 0.5rem 1rem;
}
.main-visual .fig-caption > strong{
	font-size: 1.5rem;
}
p{
	margin: 0.5rem 0;
	line-height: 1.5;
}
.main-visual{
	margin-bottom: 3rem;
}
.claim{
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-left: 10%;
	margin-bottom: 5%;
	margin-top: 5%;
	outline-style: groove;
	padding: 2%;
}
.claim > header > i{
	font-size: 2.5rem;
	font-weight: bolder;
	color: #000000;
	float: left;
	width: 25%;
}
.claim > header > h2{
	float: left;
	width: 75%;
}
div > strong{
	font-size: 3rem;
	font-weight: bold;
}
div > i{
	font-size: 2.5rem;
	font-weight: bolder;
	color: #000000;
	float: left;
	width: 10%;
}
img {
  opacity: 0.9;
}
img:hover {
  opacity: 1.0;
}
a:hover{
	color: grey;
}
.claim{
	box-shadow: 10px 10px grey;
}
p{
	cursor: text;
}
table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  height: 70px;
}
td, th{
  text-align: center;
}
div.gallery {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  box-shadow: 10px 10px grey;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 65px;
  text-decoration: none;
  margin-left: 55px;
}
.animated-text{
  position: relative;
  height: 70px;
  overflow: hidden;
}
.animated-text h3{
  color: black;
  font-size: 2em;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  /*border-style: groove;*/
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.animated-text h3:nth-child(1){
  animation: text-move 15s infinite;
}
@keyframes text-move{
  0%{
    margin-left: 0;
  }
  /*25%{
    margin-left: -120px;
  }*/
  50%{
    margin-left: 354px;
  }
  /*75%{
    margin-left: -120px;
  }*/
  100%{
    margin-left: 0;
  }
}
.media{
  margin-top: 50px;
  margin-bottom: 50px;
}
.media a{
  color: black;
  font-size: 25px;
  margin-right: 30px;
  margin-left: 30px;
}
.contact .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 190px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.contact .content .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact .content .row .card{
  background: #fff;
  max-width: 180px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}
.contact .content .row .card .contact-icon{
  color: #3a6cf4;
  font-size: 2em;
  text-align: center;
  transition: transform 0.5s ease;
}
.contact .content .row .card:hover .contact-icon{
  transform: translateY(-5px);
}
.contact .content .row .cardrev{
  background: #fff;
  max-width: 80px;
  margin: 5px;
  margin-left: 45px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 20px;
}
.contact .content .row .cardrev .contact-icon{
  color: #3a6cf4;
  font-size: 1.2em;
  text-align: center;
  transition: transform 0.5s ease;
}
.contact .content .row .cardrev:hover .contact-icon{
  transform: translateY(-5px);
}
.contact .content .row .card .info{
  text-align: center;
}
.contact .content .row .card .info h3{
  color: #111;
  font-size: 1em;
  font-weight: 500;
  margin: 5px;
}
.contact .content .row .card .info span{
  color: #666;
  font-weight: 400;
  font-size: 0.6em;
}
.video{
 border-style: groove;
  margin-left: 320px;
  margin-right: 320px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  /*padding-right: 20px;*/
  padding-left: 25px;
  color: black;
  box-shadow: 10px 10px grey;
}
.photo{
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
}
